<div class="container mt-5">
  <form [formGroup]="chartForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <h3>Select monthly revenue</h3>
        <div class="form-group mb-3">
          <label for="january">January</label>
          <input id="january" formControlName="january" type="number" class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="february">February</label>
          <input id="february" formControlName="february" type="number" class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="march">March</label>
          <input id="march" formControlName="march" type="number" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <h3>Select Color</h3>
        <div class="form-group mb-3">
          <label for="color">Color</label>
          <select id="color" formControlName="januaryColor" class="form-select">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
            <option value="blue">Blue</option>
            <option value="grey">Grey</option>
            <option value="orange">Orange</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="februaryColor">Color</label>
          <select id="februaryColor" formControlName="februaryColor" class="form-select">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
            <option value="blue">Blue</option>
            <option value="grey">Grey</option>
            <option value="orange">Orange</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="marchColor">Color</label>
          <select id="marchColor" formControlName="marchColor" class="form-select">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
            <option value="blue">Blue</option>
            <option value="grey">Grey</option>
            <option value="orange">Orange</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group mb-3">
        <label class="fw-bold mb-2">Graph Type</label>
        <div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="chartType" value="bar" id="barChart">
            <label class="form-check-label" for="barChart">Bar</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="chartType" value="pie" id="pieChart">
            <label class="form-check-label" for="pieChart">Pie</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="chartType" value="line" id="lineChart">
            <label class="form-check-label" for="lineChart">Line</label>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="container mt-5">
    <div class="position-relative">
      <div class="vertical-line">
        <span class="vertical-text">Color</span>
      </div>
      <div class="card">
        <div class="card-body">
          <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
            style="width: 100%; height:400px; display: block;">
          </highcharts-chart>

          <div class="revenue-text">Select Monthly Revenue</div>
        </div>
      </div>
    </div>
  </div>
</div>